.table {
  th {
    background-color: #f8f9fa;
  }

  td {
    vertical-align: middle;
  }
}

.btn-outline-primary {
  &:hover {
    color: #fff;
  }
}

.btn-outline-danger {
  &:hover {
    color: #fff;
  }
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}
